{% extends 'base.html' %}

{% block head %}
    <meta charset="utf-8">
    <title>Trust House Reviews</title>
    <meta name="description" content="Web app that enables users to rate the condition and attributes of a property.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/writeReview.css">
    <script src="https://kit.fontawesome.com/fbfdd5a072.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    
    <div class="bg-img">
    </div>
    <form action="http://localhost:50201/review/all" method="post" class="container">
        <button type="submit" class="btn">All Reviews</button>
    </form>
    <div>
    <br><br><br>
    <form action="http://localhost:50201/review/all/locations" method="post" class="container">
        <button type="submit" class="btn">Listed Locations</button>
    </form>
    <br><br><br>

    <h1 class="container">Trust House Search Engine</h1>
    <br><br><br>
    <div >
    <form action="http://localhost:50201/review/rating" method="post" class="container" style="border-right: 5px solid red;">
        <label for="searchRating">Find Review by Rating: </label><br>
        <input type="number" name="searchRating" id="searchRating" placeholder="Enter a rating from 1 - 5" required>
        <button type="submit" class="btn">Find Reviews</button>
    </form>
    <br><br><br><br><br>
    <form action="http://localhost:50201/review/door" method="post" class="container" style="border-right: 5px solid red;">
        <label for="searchDoorNum">Find Review by Door Number: </label><br>
        <input type="text" name="searchDoorNum" id="searchDoorNum" placeholder="Enter door number" required>
        <button type="submit" class="btn">Find Reviews</button>
    </form>
    <br><br><br><br><br><br><br><br>
    <form action="http://localhost:50201/review/street" method="post" class="container" style="border-right: 5px solid red;">
        <label for="searchStreetName">Find Review by Street Name: </label><br>
        <input type="text" name="searchStreetName" id="searchStreetName" placeholder="Enter street name" required>
        <button type="submit" class="btn">Find Reviews</button>
    </form>
    <br><br><br><br><br><br><br><br>
    <form action="http://localhost:50201/review/location" method="post" class="container" style="border-right: 5px solid red;">
        <label for="searchLocation">Find Review by Residence: </label><br>
        <input type="text" name="searchLocation" id="searchLocation" placeholder="Enter town or city">
        <button type="submit" class="btn">Find Reviews</button>
    </form>
    <br><br><br><br><br><br><br><br>
    <form action="http://localhost:50201/review/postcode" method="post" class="container" style="border-right: 5px solid red;">
        <label for="searchPostcode">Find Review by Postcode: </label><br>
        <input type="text" name="searchPostcode" id="searchPostcode" placeholder="Enter postcode" required>
        <button type="submit" class="btn">Find Reviews</button>
    </form>


    {% if void %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <p style="color: red;">
            <b>{{ void }}</b>
        </p>
    </div>
    {% endif %}

    {% if get_reviews %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <h1>All Reviews</h1>
        {% for review in get_reviews %}
        <h5 style="color: red;">Review: </h5>
        <p>{{ review.review }}</p>
        <h5 style="color: red;">Rating: </h5>
        <p>{{ review.rating }}</p>
        <h6 style="color: red;">Date: </h6>
        <p>{{ review.date }}</p>
        <h5 style="color: red;">Address:</h5>
        <p>
            {{ review.address.door_num }}, 
            {{ review.address.street }}, 
            {{ review.address.location }}, 
            {{ review.address.postcode }}.
        </p>
        <hr>
        {% endfor %}
    </div>
    {% endif %}


    {% if listed_locations %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <h1>Listed Locatoins:</h1>
        {% for building in listed_locations %}
        <p>{{ building.location }}</p>
        <hr>
        {% endfor %}
    </div>
    {% endif %}


    {% if get_ratings %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <H1>Search by Rating:</H1>
        {% for review in get_ratings %}
        <h5 style="color: red;">Review: </h5>
        <p>{{ review.review }}</p>
        <h5 style="color: red;">Rating: </h5>
        <p>{{ review.rating }}</p>
        <h6 style="color: red;">Date: </h6>
        <p>{{ review.date }}</p>
        <h5 style="color: red;">Address:</h5>
        <p>
            {{ review.address.door_num }}, 
            {{ review.address.street }}, 
            {{ review.address.location }}, 
            {{ review.address.postcode }}.
        </p>
        <hr>
        {% endfor %}
    </div>
    {% endif %}

    {% if filter_door %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <h1>Search by Door Number:</h1>
        <br><br>
        {% for review in filter_door %}
        {% if user_door_request == review.address.door_num %}
        <h5 style="color: red;">Review: </h5>
        <p>{{ review.review }}</p>
        <h5 style="color: red;">Rating: </h5>
        <p>{{ review.rating }}</p>
        <h6 style="color: red;">Date: </h6>
        <p>{{ review.date }}</p>
        <h5 style="color: red;">Address:</h5>
        <p>
            {{ review.address.door_num }}, 
            {{ review.address.street }}, 
            {{ review.address.location }}, 
            {{ review.address.postcode }}.
        </p>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if filter_street %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <h1>Search by Street Name:</h1>
        {% for review in filter_street %}
        {% if user_street_request == review.address.street %}
        <h5 style="color: red;">Review: </h5>
        <p>{{ review.review }}</p>
        <h5 style="color: red;">Rating: </h5>
        <p>{{ review.rating }}</p>
        <h6 style="color: red;">Date: </h6>
        <p>{{ review.date }}</p>
        <h5 style="color: red;">Address:</h5>
        <p>
            {{ review.address.door_num }}, 
            {{ review.address.street }}, 
            {{ review.address.location }}, 
            {{ review.address.postcode }}.
        </p>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    {% if filter_location %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <h1>Search by Location:</h1>
        {% for review in filter_location %}
        {% if user_location_request == review.address.location %}
        <h5 style="color: red;">Review: </h5>
        <p>{{ review.review }}</p>
        <h5 style="color: red;">Rating: </h5>
        <p>{{ review.rating }}</p>
        <h6 style="color: red;">Date: </h6>
        <p>{{ review.date }}</p>
        <h5 style="color: red;">Address:</h5>
        <p>
            {{ review.address.door_num }}, 
            {{ review.address.street }}, 
            {{ review.address.location }}, 
            {{ review.address.postcode }}.
        </p>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    {% if filter_postcode %}
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <h1>Search by Location:</h1>
        {% for review in filter_postcode %}
        {% if user_postcode_request == review.address.postcode %}
        <h5 style="color: red;">Review: </h5>
        <p>{{ review.review }}</p>
        <h5 style="color: red;">Rating: </h5>
        <p>{{ review.rating }}</p>
        <h6 style="color: red;">Date: </h6>
        <p>{{ review.date }}</p>
        <h5 style="color: red;">Address:</h5>
        <p>
            {{ review.address.door_num }}, 
            {{ review.address.street }}, 
            {{ review.address.location }}, 
            {{ review.address.postcode }}.
        </p>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    </div>
{% endblock %}