{% extends 'base.html' %}

{% block head %}
    <meta charset="utf-8">
    <title>Trust House Reviews</title>
    <meta name="description" content="Web app that enables users to rate the condition and attributes of a property.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/writeReview.css">
    <script src="https://kit.fontawesome.com/fbfdd5a072.js" crossorigin="anonymous"></script>
{% endblock %}

{% if message %}
<br><br><br><br><br><br><br><br>
<div class="container">
	<h1>{{ message }}</h1>
</div>
{% endif %}

{% block content %}
    <h1>Write A Review</h1>
    <!-- Create a review form -->
    <div class="bg-img">
        <form action="http://localhost:50102/new-review" class="container" method="post" enctype="multipart/form-data">
         <h1 class="disableBlur">Address</h1>
	    <label for="propertyNumber"><b>Door / Property Number</b></label>
	    <input type="text" placeholder="Enter Door/Property Number" name="propertyNumber" style="width:89%" required/><br>
	    <label for="streetName"><b>Street</b></label><br>
	    <input type="text" placeholder="Enter Street Name" name="streetName" style="width:89%" required/>
	    <label for="town_city"><b>Residence</b></label><br>
	    <input type="text" placeholder="Enter Town or City" style="width:89%" name="town_city"/>
	    <label for="postcode"><b>Postcode</b></label><br>
	    <input type="text" placeholder="Enter Postcode" name="postcode" style="width:89%" required/>   
	    <hr>
	    <h1>Your Review</h1>
	    <label for="rating"><b>Property Rating</b></label>
	    <p>1 <i style="color: red;">(very bad)</i> <input type="range" id="rating" name="rating" min="1" max="5" style="accent-color:red"/> 5 <i style="color: red;">(very good)</i></p>
	    <label for="writeReview"><b>Review</b></label><br>
        <textarea placeholder="Write Your Review Here..." rows="7" cols="60" name="reviewText" style="width:89%" required></textarea>
        <label for="reviewer"><b>Reviewed by:</b></label>
	    <div class="wrapper-class">
	    <input type="radio" id="tenant" value="tenant" name="selection"/>
		<label for="tenant" style="color:black">Tenant</label>
		<input type="radio" id="neighbour" value="neighbour" name="selection"/>
		<label for="neighbour" style="color:black">Neighbour</label>
		<input type="radio" id="visitor" value="visitor" name="selection"/>
		<label for="visitor" style="color:black">Visitor</label>
        <br>
	    </div>
	    <!-- <label for="imgUpload">Uplaod Images</label> -->
	    <!-- <input type="file" id="imgUpload" name="imgUpload" multiple/> -->
        <br>
	    <button type="submit" class="btn">Send Review</button>

	</form>

	{% if message %}
	<br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br>
    <!-- <br><br><br><br> -->
    <div class="container">
        <p style="color: red;">
            <b>{{ message }}</b>
        </p>
    </div>
    {% endif %}
    </div>
{% endblock %}